src/main/java/com.solvd.landscapingApp/XML/Addresses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Addresses">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="streetAddress" type="xs:string" />
                            <xs:element name="zipCode" type="xs:int" />
                            <xs:element name="city" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>